<h2>Editar / Agregar Heroe</h2>
<small>Superman</small>
<mat-divider class="mb-2"></mat-divider>
<div class="grid">
    <div class="col-12 sm:col-6">
        <mat-card>
            <mat-card-content>
                <form
                    (ngSubmit)="onSubmit()"
                    [formGroup]="heroForm"
                    class="grid"
                >
                    <mat-form-field class="col-12 sm:col-6">
                        <mat-label>Super Heroe</mat-label>
                        <input
                            [formControlName]="'superhero'"
                            placeholder="tesr"
                            matInput
                            type="text"
                            required
                        >
                    </mat-form-field>
                    <mat-form-field class="col-12 sm:col-6">
                        <mat-label>Alter Ego</mat-label>
                        <input
                            placeholder="tesr"
                            matInput
                            type="text"
                            [formControlName]="'alter_ego'"
                            required
                        >
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Primera Aparición</mat-label>
                        <input
                            placeholder="tesr"
                            matInput
                            type="text"
                            [formControlName]="'first_appearance'"
                            required
                        >
                    </mat-form-field>
                    <mat-form-field class="col-12 ">
                        <mat-label>Personajes</mat-label>
                        <input
                            placeholder="tesr"
                            matInput
                            type="text"
                            [formControlName]="'characters'"
                            required
                        >
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Creador</mat-label>
                        <mat-select
                            [formControlName]="'publisher'"
                            required
                        >
                            <mat-option
                                *ngFor="let publisher of publishers"
                                [value]="publisher.id"
                            >
                                {{publisher.desc}}
                            </mat-option>
                        </mat-select>

                    </mat-form-field>
                    <mat-form-field class="col-12 ">
                        <mat-label>Alternative Image</mat-label>
                        <input
                            placeholder="tesr"
                            matInput
                            type="text"
                            [formControlName]="'alt_image'"
                            required
                        >
                    </mat-form-field>








                    <button
                        mat-flat-button
                        color="warn"
                    >
                        Borrar
                    </button>
                    <span class="spacer"></span>
                    <button
                        mat-flat-button
                        color="primary"
                    >
                        <mat-icon>save</mat-icon>
                        Guardar
                    </button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-12 sm:col-6">
        <mat-card>
            <img
                [src]="currentHero | heroImagePipe"
                alt="Imagen del Heroe"
            >
        </mat-card>














    </div>
</div>
